@charset "utf8";
h1{
    position: relative;
    font-size : 3.0em;
    /* background-color: #F1F1F6; */
    text-align:center;
    color: black;
    margin: 0%;
    padding: 0.2em;
    z-index: 1;
    /* width: 100%; */
}
h2{
    font-size: 1.5em;
    color: black;
}
body{
    background-color: #F1F1F6;
}
.tool_list{
    /* background-color: #817DA6; */
    width: 75%;
    margin: auto;
}
img{
    width: 75%;
    height: 75%;
    /* float: left; */
    /* margin-right: auto; */
}
.no_image{
    width: 10%;
    height: 10%;
}
.block{
    margin: auto;
    width: 65%;
}
a.back{
    text-decoration: none;
}
a.back:link{
    color: white;
}
a.back:visited{
    color: grey;
}
a.back:active{
    color: green;
}
a.back:hover{
    color: skyblue;
}